<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Geotag an image upload</title>
<meta name="viewport" content="width=device-width,minimum-scale=1">
<meta name="description" content="Geotag an image"/>
</head>
<body>


<div id="test1">

<form action="/upload" enctype="multipart/form-data" method="post">
<input type="file" required name="jpeg" />
<br>
<label>Lat: <input type="number" step="any" name=lat required v-model.number.lazy="mapCenter.lat" /></label>
<label>Lng: <input type="number" step="any" name=lng required v-model.number.lazy="mapCenter.lng" /></label>
{{ .csrfField }}
<input type="submit" value="Report" />
</form>

<gmap-map style="width: 500px; height: 500px" :center="mapCenter" :zoom="12"
  @center_changed="updateCenter"
  class="map-container">
</gmap-map>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.js"></script>
<script src="https://s.natalian.org/2017-06-28/vue-google-maps.js"></script>

  <script>
    Vue.use(VueGoogleMaps, {
      load: {
        key: 'AIzaSyD4VHBovJ2dnHSZpS-Y46hheA_JL6mtwZI',
      }
    });

    document.addEventListener('DOMContentLoaded', function() {
      new Vue({
        el: '#test1',
        data: {
          mapCenter: {
            lat: 1.38,
            lng: 103.8,
          }
		},
		created: function () {
			console.log('a is: ' + this.mapCenter)
			if(navigator.geolocation) {
				navigator.geolocation.getCurrentPosition((position) => {
					console.log(position.coords.latitude, position.coords.longitude)
					this.mapCenter.lat = position.coords.latitude
					this.mapCenter.lng = position.coords.longitude
				})
			}
		},
        methods: {
          updateCenter(newCenter) {
            this.mapCenter = {
              lat: newCenter.lat(),
              lng: newCenter.lng(),
            }
          }
        }
      });
    });
  </script>

<p><a href="https://github.com/kaihendry/go-upload/tree/lgeo">Source code</a></p>
</body>
</html>
